<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">

<head>
<title>Login for oblig2</title>
</head>

<body>

<div th:if="${param.error}">
    Feil brukernavn eller passord.
</div>
<div th:if="${param.logout}">
    Du har blitt logget ut.
</div>

<form th:action="@{/login}" method="post">
	<input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" />
    <div><label> Brukernavn : <input type="text" name="username"/> </label></div>
    <div><label> Passord: <input type="password" name="password"/> </label></div>
    <div>
		<label for="remember-me">Husk meg</label>
		<input type="checkbox" name="remember-me" id="remember-me" />
	</div>
    <div><input type="submit" value="Logg inn"/></div>
</form>



    <h1 style="margin-left:400px;">Gjøremål</h1>

    <table>
        <tr>
            <th>Navn</th>
        </tr>
        <tr th:each="item : ${ite}">
            <td th:text="${item.name}">Navn</td>
        </tr>
    </table>












</body>
</html>
